.super-mario {
    width: 200px;
    margin: top 20%;;
  }
  
  .goomba {
    width: 100px;
  }
  
  .baloon {
    margin-right: 50%;
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
  }